* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.heading-title {
  font-family: Rajdhani, sans-serif;
  font-size: 5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff; }

.paragraph {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #fff; }

.span-discover {
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase; }

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden; }

.about {
  flex: 2;
  height: 100%;
  background: black url("../img/vrImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex-direction: column; }
  .about__title {
    margin-bottom: 5rem;
    padding-right: 5rem; }
  .about__paragraph {
    padding-right: 10rem; }
  .about__next {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .about__next--button {
      width: 5rem;
      height: 5rem;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #d04a2a;
      background-color: #d04a2a;
      font-weight: 600; }
    .about__next--button:before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 1px;
      right: 4rem;
      top: 50%;
      background: #fff; }

.service {
  height: 100%;
  background: black url("../img/pcImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: all .5s; }
  .service::before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0; }
  .service:hover {
    flex: 2; }
  .service:hover:before {
    content: '';
    background-color: transparent; }
  .service:hover .service__paragraph {
    opacity: 1; }
  .service__paragraph {
    padding-right: 8rem;
    opacity: 0; }
  .service__title {
    margin-bottom: 7rem;
    padding-right: 5rem; }
  .service__next {
    margin-top: auto; }
    .service__next--button {
      width: 5rem;
      height: 5rem;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #d04a2a;
      background-color: transparent;
      font-weight: 600; }

.contact {
  height: 100%;
  background: rgba(0, 0, 0, 0.5) url("../img/contactImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all .5s; }
  .contact::before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0; }
  .contact:hover {
    flex: 2; }
  .contact:hover:before {
    content: '';
    background-color: transparent; }
  .contact:hover .contact__paragraph {
    opacity: 1; }
  .contact__paragraph {
    padding-right: 8rem;
    opacity: 0; }
  .contact__title {
    margin-bottom: 7rem;
    padding-right: 5rem; }
  .contact__next {
    margin-top: auto; }
    .contact__next--button {
      width: 5rem;
      height: 5rem;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #d04a2a;
      background-color: transparent;
      font-weight: 600; }

.header {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff; }
  .header__brand {
    padding: 2rem;
    margin: auto;
    align-self: stretch; }
  .header__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 5rem;
    align-items: center;
    align-self: stretch;
    background-color: #f5f5f5; }
    .header__content--icon {
      position: absolute; }
      .header__content--icon, .header__content--icon::before, .header__content--icon::after {
        width: 3rem;
        height: 2px;
        background: #d04a2a; }
      .header__content--icon::before, .header__content--icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .header__content--icon::before {
        top: -.8rem; }
      .header__content--icon::after {
        top: .8rem; }
    .header__content--button {
      transform: rotate(-90deg);
      font-family: Rajdhani, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #d04a2a;
      background-color: transparent;
      border: 1px solid #d04a2a;
      padding: 2rem;
      margin-top: 20rem;
      transition: all .2s; }
      .header__content--button:hover {
        background-color: #d04a2a;
        color: #fff; }
      .header__content--button:focus {
        outline: none; }
    .header__content--logo {
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column; }
      .header__content--logo > *:not(:last-child) {
        padding-bottom: .7rem; }
