* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex; }

.header {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5; }
  .header__brand {
    padding: 2rem;
    background-color: #fff;
    align-self: stretch; }
  .header__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%; }
    .header__content--menu {
      padding-top: 5rem; }
    .header__content--button {
      transform: rotate(-90deg);
      font-family: Rajdhani, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #d04a2a;
      background-color: transparent;
      border: 1px solid #d04a2a;
      padding: 2rem; }
      .header__content--button:focus {
        outline: none; }
    .header__content--logo {
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column; }
      .header__content--logo > *:not(:last-child) {
        padding-bottom: .7rem; }

.about {
  width: 40%;
  background-color: orangered; }

.service {
  width: 25%;
  background-color: yellowgreen; }

.contact {
  width: 25%;
  background-color: rosybrown; }
