
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;


}


//////////////////////////////////////////
//About
.about {
  flex: 2;
  height: 100%;
  background: rgba(0,0,0,1) url("../img/vrImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 5rem;
    padding-right:  5rem;

  }

  &__paragraph {
    padding-right: 10rem;
  }

  &__next {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &--button {
      width: 5rem;
      height: 5rem;
      color: $color-white;
      border-radius: 50%;
      border: 1px solid $cooper;
      background-color: transparent;
      font-weight: 600;
    }

    &--button:before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 1px;
      right: 4rem;
      top: 50%;
      background: $color-white;
    }
  }

}

//////////////////////////////////////////
//SRVICE
.service {

  height: 100%;
  background: rgba(0,0,0,1) url("../img/pcImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: all .5s;

  &::before {
    background-color: rgba($color-black, 0.4);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
  }

  &:hover {
    flex: 2;
  }

  &:hover:before {
    content: '';
    background-color: transparent;
  }

  &:hover &__paragraph {
    opacity: 1;
  }

  &__paragraph {
    padding-right: 8rem;
    opacity: 0;
  }


  &__title {
    margin-bottom: 10rem;
    padding-right:5rem;
  }

  &__next {
    margin-top: auto;
    &--button {
      width: 5rem;
      height: 5rem;
      color: $color-white;
      border-radius: 50%;
      border: 1px solid $cooper;
      background-color: transparent;
      font-weight: 600;
    }
  }

}

//////////////////////////////////////////
//CONTACT
.contact {

  height: 100%;
  background: rgba($color-black, 0.5) url("../img/contactImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;


  &::before {
    background-color: rgba($color-black, 0.4);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
  }

  &:hover:before {
    content: '';
    background-color: transparent;
  }

  &:hover &__paragraph {
    opacity: 1;
  }

  &__paragraph {
    padding-right: 8rem;
    opacity: 0;
  }


  &__title {
    margin-bottom: 10rem;
    padding-right:5rem;
  }

  &__next {
    margin-top: auto;
    &--button {
      width: 5rem;
      height: 5rem;
      color: $color-white;
      border-radius: 50%;
      border: 1px solid $cooper;
      background-color: transparent;
      font-weight: 600;
    }
  }

}


.contact:hover {
  flex: 2;
}

.contact:hover ~ .about {
  flex: 1;
}
