.heading-title {
  font-family: Rajdhani, sans-serif;
  font-size: 5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-white;
}

.paragraph {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: $color-white;
}

.span-discover {
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: $color-white;
  text-transform: uppercase;
}